
.navbar {
    border: 1px black solid;
    height: 80px;
}

.items_navbar {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-left: 1150px;
}

.main {
    border: 1px solid black;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 75px;
}